.registerForm {
	display: flex;
	flex-direction: column;
	margin: auto auto;
}

.registerForm div {
	position: relative;
	align-self: flex-end;
	margin-bottom: 30px;
}

.registerForm input {
	margin-left: 20px;
	border-radius: 10px;
}

.optional {
	position: absolute;
	font-size: 16px;
	top: 100%;
	left: 60%;
}

.buttonWrapper {
	max-width: 250px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.registerForm button {
	margin: 10px auto;
}

.registerForm a {
	font-size: 18px;
	color: rgb(54, 144, 185);
	text-decoration: underline solid rgb(54, 144, 185);
}
.registerForm a:hover {
	color: rgb(92, 52, 236);
	text-decoration: underline solid rgb(92, 52, 236);
	cursor: pointer;
}

.error {
	position: absolute;
	font-size: 14px;
	color: rgb(219, 14, 14);
	top: 100%;
	left: 40%;
}
