.chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #0b141a;
	width: 100%;
}


.input {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 20px 10px;
	resize: vertical;
	outline: none;
	min-height: 80px;
}

.inputField {
	width: 90%;
	max-height: 80px;
	height: 100%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	outline: none;
	resize: none;
}

.chat button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: black;
	margin: auto 0;
}

.chat button:hover {
	background-color: #e9edef;
}

.chat button img {
	width: 30px;
	height: 30px;
	rotate: -45deg;
	margin: 0 auto;
}

