.chatHeader {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 10px 16px;
	background: #394850;
	color: rgb(195, 196, 197);
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2a3942;
}

.avatarAlt {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #284253;
	margin-left: 10px;
}

.contactInfo {
	font-size: 14px;
	color: rgb(163, 175, 179);
}
.contactInfo a {
	color: rgb(168, 217, 230);
}
.contactInfo a:hover {
	cursor: pointer;
	color: rgb(106, 223, 255);
}

.chatHeader button {
	width: 120px;
	margin-left: auto;
	background: #52657d;
	box-shadow: none;
}
.chatHeader button:hover {
	background: #244556;
}
